// Pagination
//
// based on Twitter Bootstrap for Laravel 4
//
// Markup:
// <div class="pagination">
//   <ul>
//     <li class="disabled"><span>&laquo;</span></li>
//     <li class="active"><span>1</span></li>
//     <li><a href="#">2</a></li>
//     <li><a href="#">3</a></li>
//   </ul>
// </div>

$pagination-border-radius: 4px;
$pagination-color-default: $default-color;

.pagination ul {
  display: inline-block;
  @include border-radius($pagination-border-radius);

  li {
    display: inline;

    a, span {
      float: left;
      padding: 4px 12px;
      line-height: $base-line-height * .8;
      text-decoration: none;
      border: 1px solid $pagination-color-default;
      border-left-width: 0;
    }
    a:hover, a:focus {
      background-color: $pagination-color-default;
    }
    &:first-child {
      a, span {
        border-left-width: 1px;
        @include border-left-radius($pagination-border-radius);
      }
    }
    &:last-child {
      a, span {
        @include border-right-radius($pagination-border-radius);
      }
    }
  }
  .active {
    a, span {
      background-color: $pagination-color-default;
      color: darken($pagination-color-default, 15%);
      cursor: default;
    }
  }
  .disabled {
    span, a, a:hover, a:focus {
      color: darken($pagination-color-default, 15%);
      background-color: transparent;
      cursor: default;
    }
  }
}

.pagination-center {
    text-align: center;
}

.pagination-right {
    text-align: right;
}